body{
	color: white;
	background: black;	

}
.first{
	border: 3px solid white;
	margin: 7px;
	margin-right: 0px;
	width: 500px;
	position: static;
}
img{
	width: 125px;
	margin-top: 20px;
	border:5px solid deeppink;
	position: static;
}
.firstsub-1{
	border: 3px solid white;
	margin: 7px;
	text-align:center;
	/*padding: 1px;
	word-spacing: 2px;*/
	position: static;
}
.firstsub-2{
	border: 3px solid white;
	margin: 7px;
	position: static;
	
}
.second{
	border: 3px solid white;
	margin: 7px;
	position: static;
}
.secondsub-1{
	border: 3px solid white;
	margin: 7px;
	position: static;
}
.secondsub-2{
	border: 3px solid white;
	margin: 7px;
	position: static;
}
.secondsub-3{
	border: 3px solid white;
	margin: 7px;
	position: static;
}
.secondsub-4{
	border: 3px solid white;
	margin: 7px;
	position: static;
	padding: 5px
}
.parent{
	display: flex;
	border: 3px solid white;
	margin: 7px;
	position: static;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}
table,td,th{
	border: 3px solid white;
	border-collapse: separate;
	font-size: 25px;
	margin: 10px;
	text-align: center;
	position: static;
}
p{
   font-size: 20px;
   text-align: center;
}
h3{
	text-align: right;
	margin-right: 50px;
	color: goldenrod;
}
.main{
	display: flex;	
}
h2{
	margin-left: 10px;
	color: red;
}
.resume{
	border: 10px solid crimson;
	color: yellow;
}
.resume:hover{
	color: springgreen;
}
@media screen and (max-width:425px){
	.main{
		flex-direction: column;
	}
	.first{
		background-color: #c45e45;
	}
}
@media screen and (min-width: 425px) and (max-width: 768px){
	.main{
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.second{
		background-color: orangered;
			/*width: 300px;*/
			border-radius: 10px solid red;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.main{
		flex-direction: row;
	}
	.first{
		background-color: crimson;
	}
}
